# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.eslintcache

# dependencies
AWS/node_modules
client/node_modules
/node_modules
/.pnp
.pnp.js
/AWS

# testing
/coverage

# production
/build

# misc

/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
