p {
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
}

.box {
  text-align: center;

  background-size: 56.57px 56.57px;
  width: 50%;
  border-radius: 6px;

  z-index: 1;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -70px 0 0 -170px;

}

.password {
  border-radius: 4px;
  background: #ecf0f1;
  border: #ffffff 0px solid;
  text-align: center;
  padding: 8px;
  width: 90%;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
  opacity: 0.4;
}  




.password-text {
  color: white;
   
}

.checkbox-container {
  margin-top: 3%;
  color: white;

}

.show-hide-checkbox {
  margin-right: 3%;
}

.login-btn {
  background: white;
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #1e7a8e;
  border-radius: 4px;
  border: #ffffff 0px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  margin-left: 16px;
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
  
}

.login-btn:hover {
  background: #A6A6A6;
}



