.loading-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes loadingTextFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.video-player {
  margin: 20px auto;
  opacity: 0;
}

@keyframes videoFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .calendar-window {
    height: 17vh;
    width: 12vh;
    margin: 0;
  }
  .calendar-window img {
    height: 10vh;
    width: 10vh;
  }
  .calendar-windows-container {
    overflow-y: scroll;
    height: 85vh;
  }
}

@media screen and (max-width: 770px) {
  .calendar-window {
    height: 14vh;
    width: 11vh;
  }
  .calendar-window img {
    height: 11vh;
    width: 11vh;
  }
  .App header h1 {
    font-size: 1.5rem;
  }
  .App header h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .calendar-window b {
    font-size: 0.5rem !important;
    line-height: 1.5rem !important;
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
  Button.btn.btn-primary {
    font-size: 0.5rem !important;
    font-weight: bold;
  }
  #logo {
    height: 3rem;
  }
  .App header h1 {
    font-size: 0.75rem;
  }
  .App header h2 {
    font-size: 0.5rem;
  }
  .video-player {
    width: 100vw !important;
    height: 180px !important;
  }
}
