.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.loading-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes loadingTextFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.video-player {
  margin: 20px auto;
  opacity: 0;
}

@keyframes videoFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
