.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
}

body {
  background-image: url("./images/Moon_Santa_STA.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.space-between-header {
  padding-top: 20px;
  justify-content: center;
}

.App-main {
  filter: blur(10px);
  pointer-events: none;
}

.App header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

.App header .title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App header h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
}

.App header h2 {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0;
}

.App header h1,
.App header h2 {
  color: #f2f2f2;
  font-weight: bold;
}

#logo {
  border-radius: 90px;
  background-color: #fff;
  height: 85px;
  margin-right: 10px;
  margin-left: 10px;
}

.calendar-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 15vh;
  padding: 0;
  color: #ffffff;
}

.calendar-window img {
  height: 15vh;
  width: 15vh;
  padding-bottom: 10px;
}

.calendar-window b {
  font-size: 2rem;
  color: white;
  height: 3rem;
  width: 3rem;
  background-color: rgba(60, 60, 59, 0.75);
  border-radius: 50%;
}

.activity-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.activity-row {
  background-color: rgba(60, 60, 59, 0.75);
  padding: 10px 0;
  width: 50vw;
  margin: 0;
}

Button.btn.btn-primary {
  margin: 10px auto;
  background-color: rgba(60, 60, 59, 0.75);
  border-color: white;
}

img {
  height: 500px;
}

.carousel-caption {
  background-color: rgba(60, 60, 59, 0.75);
}

.carousel-caption h2,
.carousel-caption h3 {
  margin: 0;
  padding: 0;
}

.challenge-text {
  background-color: #f2f2f2;
  margin: 0;
  color: #3C3C3B;
}

.challenge-text p {
  padding-top: 20px;
  color: #3C3C3B;
}

.challenge-img {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1300px) {
  .activity-row {
    width: 80vw;
  }
}

@media screen and (max-width: 1150px) {
  .activity-row {
    width: 100vw;
  }
}

@media screen and (max-width: 1024px) {
  .calendar-window {
    height: 17vh;
    width: 12vh;
    margin: 0;
  }
  .calendar-window img {
    height: 10vh;
    width: 10vh;
  }
  .calendar-windows-container {
    overflow-y: scroll;
    height: 85vh;
  }
}

@media screen and (max-width: 770px) {
  .calendar-window {
    height: 14vh;
    width: 11vh;
  }
  .calendar-window img {
    height: 11vh;
    width: 11vh;
  }
  .App header h1 {
    font-size: 1.5rem;
  }
  .App header h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .activity-page-container h3,
  .activity-page-container h4 {
    font-size: 0.75rem;
  }
  .calendar-window b {
    font-size: 0.5rem !important;
    line-height: 1.5rem !important;
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
  Button.btn.btn-primary {
    font-size: 0.5rem !important;
    font-weight: bold;
  }
  #logo {
    height: 4rem !important;
  }
  .App header h1 {
    font-size: 1rem !important;
  }
  .App header h2 {
    font-size: 0.75rem  !important;
  }
  .middle-col {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  #logo {
    height: 3rem;
  }
  .App header h1 {
    font-size: 0.75rem !important;
  }
  .App header h2 {
    font-size: 0.5rem  !important;
  }
  Button.btn.btn-primary {
    font-size: 0.25rem !important;
    font-weight: bold;
    padding: 2.5px;
  }
  .calendar-window b {
    font-size: 0.25rem !important;
    line-height: 1rem !important;
    height: 1rem !important;
    width: 1rem !important;
  }
}
