.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("./images/Moon_Santa_STA.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App header {
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding:  0 20px;
  width: 100vw;
}

.App header .title {
  display: flex;
  flex-direction: column;
}

.App header h1 {
  font-size: 2rem;
  color: #3C3C3B;
  font-weight: bold;
  /* background-color: #8abbc1; */
}

.App header h2 {
  color: #3C3C3B;
  font-weight: bold;
  margin-bottom: 0;
  /* background-color: #8abbc1; */
}

#logo {
  height: 120px;
  /* background-color: #8abbc1; */
  padding: 5px;
  margin-right: 5px;
}

.calendar-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: rgb(138, 187, 193, 0.25);
  height: 12.5vh;
}

.calendar-window b {
  font-size: 2rem;
  font-weight: bolder;
  color: #3C3C3B;
}

.calendar-page-container {
  width: 60vw;
}

.activity-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vw;
  width: 50vw;
  background-color: rgba(60, 60, 59, 0.75);
  color: white;
}

Button.btn.btn-primary {
  margin: 10px auto;
  background-color: #44747c;
  border-color: white;
}

img {
  height: 500px;
}

.carousel-caption {
  background-color: rgba(60, 60, 59, 0.75);
}

.carousel-caption h2,
.carousel-caption h3 {
  margin: 0;
  padding: 0;
}

.challenge-text {
  background-color: #f2f2f2;
  margin: 0;
  color: #3C3C3B;
}

.challenge-text p {
  padding-top: 20px;
}

.challenge-img {
  margin: 0;
  padding: 0;
}

video {
  height: 75%;
  width: 75%;
  margin: 0 auto;
}
