.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.App-main-left {
  background-color: gray;
  min-height: 100vh;
  width: 15%;
}

.App-main-right {
  background-color: gray;
  min-height: 100vh;
  width: 15%;
}

.Windows-all {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
}

.Windows-all ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.Window-box {
  width: 50px;
  height: 65px;
  border: 2px solid black;
  border-radius: 5px;
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0, 0, 0, 0.171);  
}  
.popupInner {  
  position: absolute;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
  left: 20%;  
  right: 20%;  
  top: 20%;  
  bottom: 20%;  
  margin: auto;  
  border-radius: 20px;
  border: 5px red solid; 
  background: rgba(255, 255, 255, 0.705);
  text-align: center;
  padding: 50px 60px 50px 60px;
}

.popupInner button {
  display: flex;
  width: 100px;
  position: relative;
  align-self: center;
}

.popupInner img {
  display: flex;
  width: 200px;
  position: relative;
  align-self: center;
}
